/*allows the background to be full size*/

html,
body,
.tab-content,
.container {
    height: 100%;
    color: #C1926C;
}

.tab-pane {
    min-height: 100%;
}


/*Homepage CSS*/

#home {
    background: url("img/HABgif.gif") center;
    background-size: cover;
    /*puts a dark blue tint on the background*/
    background-color: rgba(0, 25, 75, .7);
    background-blend-mode: multiply;
}


/*Padding between content and Navbar*/

.tab-pane {
    padding-top: 15%;
    background: linear-gradient(to bottom right, #005AB4, white);
}

@media only screen and (max-width: 523px) {
    .tab-pane {
        padding-top: 20%;
    }
    #contactUs {
        padding-top: 25%;
    }
    #Gallery_Testimonials {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 353px) {
    .tab-pane {
        padding-top: 35%;
    }
    #contactUs {
        padding-top: 45%;
    }
    #Gallery_Testimonials {
        padding-top: 45%;
    }

}

@media only screen and (min-width: 800px) {
    #learnMore{
        padding-top: 5%;
    }
    #Gallery_Testimonials{
        padding-top: 12%;
    }
}

@media only screen and (min-width: 1000px) {
    
    #Gallery_Testimonials{
        padding-top: 5%;
    }
}

@media only screen and (min-width: 560px) {
    
    #contactUs{
        padding-top: 5%;
    }

}




/*Carousel CSS*/

#carousel {
    width: 90%;
    left: 5%;
}


.carousel-caption {
    color: white;
}

.carousel-indicators li {
    background-color: #A3C6EE;
}


/*Centers the homepage text*/

.col-xs-6 {
    left: 25%;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

h1 {
    font-size: 120px;
    text-align: center;
    font-family: Open Sans Condensed, sans-serif;
}

#homeText {
    text-align: center;
}


/*navbar*/

#navbar {
    font-family: 'Oswald', sans-serif;
}


/*Centers the address*/

.col-sm-4 h3 {
    text-align: center;
    font-size: 15px;
}


/*animation for Shabr text*/

#skyDance {
    animation-name: fade1;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Lora, sans-serif;
}

#hot {
    animation-name: fade2;
    animation-duration: 1.5s;
    animation-delay: 0.7s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Lora, sans-serif;
}

#air {
    animation-name: fade3;
    animation-duration: 1.5s;
    animation-delay: 1.4s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Lora, sans-serif;
}

#balloon {
    animation-name: fade4;
    animation-duration: 1.5s;
    animation-delay: 2.1s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Lora, sans-serif;
}

#rides {
    animation-name: fade5;
    animation-duration: 1.5s;
    animation-delay: 2.82s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Lora, sans-serif;
}

@keyframes fade1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade4 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade5 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Shabr text responsive design*/

.shabr {
    display: inline;
    font-size: 30px;
    color: #979436;
}

@media only screen and (max-width: 439px) {
    .shabr {
        font-size: 25px;
    }
}

@media only screen and (max-width: 373px) {
    .shabr {
        font-size: 20px;
    }
}


/*Learn More backgrounds*/

.panel-body {
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.panel-title {
    font-size: 25px;
}

#weather {
    background: url("http://static1.squarespace.com/static/51f2e70ce4b02c290dc93af1/t/537c0310e4b071e473985a56/1400636178090/81-explore-the-area-climate-and-weather.jpg?format=1500w") center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
}

#participation {
    background: url("img/balloon-4.jpg") center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
}

#time {
    background: url("https://cdn1.vox-cdn.com/thumbor/vY3JgaUmHgzxGZLppYT_vryHz1Y=/0x0:4500x3000/1280x853/cdn0.vox-cdn.com/uploads/chorus_image/image/47547403/shutterstock_152293880.0.0.0.0.jpg") center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
}

#flight {
    background: url("http://www.govisitcostarica.com/images/photos/full-hot-air-balloons-near-arenal.jpg") center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
}


/*Gallery_Testimonials*/

.well {
    font-family: Lora, sans-serif;
    font-size: 18px;
}

.carousel-caption {
    font-family: Lora, sans-serif;
    font-size: 25px;
    font-weight: bold;
   
}

#oh {
     text-shadow: 2px 2px 10px #ffffff;
     color: #ff0000;
}

#come {
     text-shadow: 2px 2px 8px #333333;
     color: #6ae2b3;
}

#your {
     text-shadow: 2px 2px 8px #333333;
     color: #fe4902;
}

#view {
     text-shadow: 2px 2px 8px #333333;
     color: #ece8d5;
}

#once {
     text-shadow: 2px 2px 8px #333333;
     color: #ffff00;
}



/*form button positioning*/

.btn {
    position: relative;
    left: 45%;
}


/*form text positioning*/

.jumbotron {
    text-align: center;
}


    color: #800000;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #FFFFFF;
}


/*form button positioning*/

.btn {
    position: relative;
    left: 45%;
}


/*form text positioning*/

.jumbotron {
    text-align: center;
}


#address {
    top: 40px;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
}

@media only screen and (max-width: 767px) {
    #address {
        top: 0;
    }

}

@media only screen and (max-width: 400px) {
    #contact {
        font-size: 90px;
    }
}




@media only screen and (max-width: 400px) {
    #contact {
        font-size: 90px;
    }
}


